* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

a.link {
    background-color: burlywood;
}

#container {
    padding-top: 20px;
    width: 900px;
    margin: 0 auto;
}

#header {
    padding-left: 350px;
    color: black;
    background-image: url(images/restaurant_icons.png);
}

#banner {
    color: white;
    padding-left: 50px;
    background-color: black;
}

.area {
    float: left;
    padding-left: 75px;
    position: relative;
    background-color: black;
}

div p {
    position: relative;
    left: 60px;
}
